# Byte-compiled / optimized / DLL files
__pycache__/
*.pyz

# Environments
.env

# Databases
*.db

# Stat Sheets
*.csv

# Changelogs
*.txt
*.diff

# Minecraft stuff
.mixin.out/
config/
crash-reports/
defaultconfigs/
libraries/
logs/
mods/
world/
*.json
*.jar
server.properties

# Temporary values
tmp.*

# I don't need duplicate resources
TestBot/test_cogs/rsc/

# User Yahtzee boards
*_board.jpg